@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SW e-commerce</h1>
    <p class="lead">Sistema de compras virtual</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A Definir 1</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>A Definir 2</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>A Definir 3</h2>
        <p></p>
    </div>
</div>